@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */

    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        color: #fff;
        font-size: 90px;
        letter-spacing: 4px;
        font-family: hp;
    }


    .theme {
        top: -10%;
        font-size: 570%;
        opacity: 0.9;
    }

    .page1 {
        top: 150%;
        left: 3vh;
    }

    .content1 {
        width: 120%;
    }

    .cybr-btn {
        min-width: 250px !important;
        top: 83% !important;
        left: 45% !important;
    }

    .youtube {
        width: 440px;
        height: 256.25px;
        top: 95%;
        left: 25vw;
    }

    .cybr-btn2 {
        top: 180% !important;
    }

    .microsoft {
        width: 440px;
        height: 256.25px;
        top: 190%;
    }

    .page2 {
        top: 270%;
        left: 50%;
    }


    .page2 h1 {
        font-size: 50px;
    }

    .new {
        line-height: 10%;
        padding-left: 10%;
    }

    .page2-sns {
        top: 285%;
        left: 24%;
    }

    .page3 {
        display: none;
    }

    .page4 {
        top: 380%;
        left: 5%;
    }

    .content2 {
        width: 130%;
        padding:8% 4% 11% 9%;
    }

    .content3 {
        width: 170%;
        height: 290%;
        top: 90%;
        left: 15%;
    }

    .cc {
        top: 720%;
        white-space: nowrap;
    }
}




