@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .top h1 {
        font-size: 36px;
        line-height: 37px;
        letter-spacing: 1px;

    }

    .theme {
        transform: translate(1%, 12%);
        font-size: 150%;
    }

    .page1 {
        top: 90%;
        left: 5%;
    }

    .content1 {
        width: 110%;
        padding:8% 4% 11% 9%; /* 枠と文字の空間 */
    }

    .about {
        font-size: 3em;
    }

    .br {
        display:block;
    }

    .slideContsR {
        transform: translate(-800px, 0) !important;
    }

    .cybr-btn {
        min-width: 250px !important;
        top: 92% !important;
        left: 10% !important;
    }

    .cybr-btn2 {
        display: none;
    }

    .page1 iframe {
        display: none;
    }

    .page2 {
        top: 150%;
    }

    .page2 h1 {
        font-size: 50px;
        white-space: nowrap;
    }

    .page2-p {
        top: 154%;
        white-space: nowrap;
        font-size: 10px;
    }

    .page2-sns {
        top: 190%;
    }

    .page3 {
        display: none;
        transform: translate(-50%, -50%);
        top: 270%;
        left: 27%;
    }

    .sponsor {
        font-size: 50px;
    }

    .content {
        width: 40px !important;
        height: 40px !important;
    }

    .wrap {
        /*overflow: none !important;
        display: block !important;
        height: 340px;
        margin-bottom: 100px;*/
    }

    .none {
        display: none !important;
    }

    .slideshow {
        display: flex;
        -webkit-animation: aaa 20s infinite linear 1s both !important;
        animation: aaa 20s infinite linear 1s both !important;
    }
}
