@media screen and (max-width: 959px) {
    /* 959px以下に適用されるCSS（タブレット用） */
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    .theme br {
        display: none;
    }

    .string {
        padding-top: 100%;
    }

    .string br {
        display: none;
    }

    .string1::before {
        content: "\A";
        white-space: pre;
    }

    .top h1 {
        font-size: 36px;
        line-height: 37px;
        letter-spacing: 1px;

    }

    .theme {
        transform: translate(1%, 1500%);
        font-size: 150%;
    }

    .page1 {
        top: 150%;
        left: 5%;
    }

    .content1 {
        width: 110%;
        padding:8% 4% 11% 9%; /* 枠と文字の空間 */
    }

    .about {
        font-size: 3em;
    }

    .br {
        display:block;
    }

    .slideContsR {
        transform: translate(-800px, 0) !important;
    }

    .cybr-btn {
        min-width: 250px !important;
        top: 92% !important;
        left: 10% !important;
    }

    .cybr-btn2 {
        display: none;
    }

    .page1 iframe {
        display: none;
    }

    .page2 {
        top: 250%;
        left: 50%;
    }


    .page2 h1 {
        font-size: 50px;
    }

    .new {
       padding-left: 7%;
        line-height: 10%;
    }

    .page2-sns {
        top: 265%;
        left: -3%;
    }

    .page3 {
        display: none;
    }

    .page4 {
        top: 380%;
        left: 0%;
        /*display: block;*/
        position: absolute;
        z-index: auto;
    }

    .content2 {
        width: 110%;
        padding:8% 4% 11% 9%;
    }

    .content3 {
        width: 120%;
        height: 550%;
        top: 90%;
        left: -15%;
    }

    .cc {
        top: 720%;
        white-space: nowrap;
    }
}
