@media screen and (max-width: 1280px) {
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        color: #fff;
        font-size: 90px;
        letter-spacing: 4px;
        font-family: hp;
    }


    .theme {
        top: 50vh;
        font-size: 500%;
        opacity: 0.9;
    }

    .page1 {

        left: 30vh;
    }

    .content1 {
        width: 120%;
    }

    .cybr-btn {
        min-width: 250px !important;
        top: 90% !important;
        left: 45% !important;
    }

    .youtube {
        width: 660px;
        height: 384px;
        top: 90%;
        left: 15vw;
    }

    .cybr-btn2 {
        top: 200% !important;
    }

    .microsoft {
        width: 660px;
        height: 384px;
        top: 205%;
    }

    .page2 {
        left: 50%;
    }

    .page2 h1 {
        font-size: 70px;
    }

    .new {
        line-height: 10%;
        padding-left: 18%;
    }

    .twitter {
        padding-top: 20px;
        padding-left: 35px;
    }

    .slide-show {
        left: -60px;
    }

    .page3 {
        left: 50%;
    }

    .page3 h1 {
        font-size: 70px;
    }


    .content2 {
        width: 120%;
    }

    .content3 {
        left: 60%;
        width: 190%;
        height: 210%;
        padding: 8% 10% 22% 10%;
        font-size: 90%;

    }

    .cc {
        transform: translate(-50%, -50%);
        top: 800%;
    }
}

@media screen and (max-width: 1024px) {
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        color: #fff;
        font-size: 90px;
        letter-spacing: 4px;
        font-family: hp;
    }


    .theme {
        top: 60vh;
        font-size: 400%;
        opacity: 0.9;
    }

    .page1 {

        left: 10vh;
    }

    .content1 {
        width: 120%;
    }

    .cybr-btn {
        left: 35% !important;
    }

    .page4 {
        left: 5%;
    }

    .content2 {
        width: 120%;
    }

    .content3 {
        left: 60%;
        width: 190%;
        height: 210%;
        padding: 8% 10% 22% 10%;
        font-size: 90%;

    }

    .cc {
        transform: translate(-50%, -50%);
        top: 800%;
    }
}

@media screen and (max-width: 768px) {
    /* 768px以下に適用されるCSS（iPad用） */
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        color: #fff;
        font-size: 90px;
        letter-spacing: 4px;
        font-family: hp;
    }


    .theme {
        top: 75vh;
        font-size: 340%;
    }

    .page1 {
        left: 5%;
    }

    .content1 {
        width: 120%;
    }

    .cybr-btn {
        min-width: 250px !important;
        top: 90% !important;
        left: 45% !important;
    }

    .youtube {
        width: 440px;
        height: 256.25px;
        top: 95%;
        left: 25vw;
    }

    .cybr-btn2 {
        top: 180% !important;
    }

    .microsoft {
        width: 440px;
        height: 256.25px;
        top: 190%;
    }

    .page2 {
        top: 300%;
        left: 50%;
    }

    .page2 h1 {
        font-size: 50px;
    }

    .new {
        line-height: 10%;
        padding-left: 10%;
    }

    .twitter {
        padding-top: 40px;
        padding-left: 0%;
    }

    .page3 {
        top: 380%;
        font-size: 50px;
        left: 50%;
    }

    .sponsor {
        top: 410%;
        width: 50%;
    }

    .page4 {
        top: 470%;
        left: 5%;
    }

    .content2 {
        width: 120%;
        padding: 8% 4% 11% 9%;
    }

    .content3 {
        width: 170%;
        height: 230%;
        top: 90%;
        left: 15%;
    }

    .cc {
        top: 600%;
        left: 35%;
    }
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        font-size: 50px;
        line-height: 37px;
        letter-spacing: 1px;

    }

    .theme {
        top: 83%;
        font-size: 210%;
    }

    .page1 {
        left: 5vw;
    }

    .content1 {
        width: 110%;
        padding: 8% 4% 11% 9%; /* 枠と文字の空間 */
    }

    .about {
        font-size: 3em;
    }

    .br {
        display: block;
    }

    .slideContsR {
        transform: translate(-800px, 0) !important;
    }

    .cybr-btn {
        min-width: 65vw !important;
        top: 40vh !important;
        left: 0vw !important;
    }

    .youtube {
        width: 440px;
        height: 256.25px;
        top: 140%;
        left: 0vw;
    }

    .cybr-btn2 {
        display: none;
    }

    .microsoft {
        display: none;
    }

    .page2 {
        left: 50%;
    }


    .page2 h1 {
        font-size: 50px;
    }

    .new {
        padding-left: 7%;
        line-height: 10%;
    }

    .page2-sns {
        top: 265%;
        left: -3vw;
    }

    .page3 {
        top: 380vh;
    }

    .page3 h1 {
        font-size: 50px;
    }

    .sponsor {
        transform: translate(20%, -50%);
        top: 420%;
        position: absolute;
        width: 70%;
        margin: 0 auto;
    }

    .page4 {
        top: 470%;
        left: 5%;
        /*display: block;*/
        position: absolute;
        z-index: auto;
    }

    .content2 {
        width: 100%;
        padding: 8% 4% 11% 9%;
    }

    .content3 {
        width: 130%;
        height: 420%;
        top: 90%;
        left: 10%;
    }

    .cc {
        top: 730vh;
        left: 50%;
        white-space: nowrap;
    }
}

@media screen and (max-width: 375px) {
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        font-size: 40px;
        line-height: 37px;
        letter-spacing: 1px;

    }

    .theme {
        top: 83%;
        font-size: 120%;
    }

    .page1 {
        left: 1vw;
    }

    .content1 {
        width: 100%;
        padding: 8% 4% 11% 9%; /* 枠と文字の空間 */
    }

    .about {
        font-size: 3em;
    }

    .br {
        display: block;
    }

    .slideContsR {
        transform: translate(-800px, 0) !important;
    }

    .cybr-btn {
        min-width: 65vw !important;
        top: 50vh !important;
        left: 0vw !important;
    }

    .youtube {
        width: 350px;
        top: 130%;
        left: 2vw;
    }

    .cybr-btn2 {
        display: none;
    }

    .microsoft {
        display: none;
    }

    .page2 {
        top: 370%;
        left: 50%;
    }


    .page2 h1 {
        font-size: 50px;
    }

    .new {
        padding-left: 7%;
        line-height: 10%;
    }

    .page2-sns {
        top: 265%;
        left: -3vw;
    }

    .page3 {
        top: 490vh;
    }

    .page3 h1 {
        font-size: 50px;
    }

    .sponsor {
        transform: translate(20%, -50%);
        top: 540%;
        position: absolute;
        width: 70%;
        margin: 0 auto;
    }

    .page4 {
        top: 650%;
        left: 5%;
        /*display: block;*/
        position: absolute;
        z-index: auto;
    }

    .content2 {
        width: 100%;
        padding: 8% 4% 11% 9%;
    }

    .content3 {
        width: 100%;
        height: 510%;
        top: 90%;
        left: 5%;
    }

    .cc {
        top: 1050vh;
        left: 50%;
        white-space: nowrap;
    }
}

@media screen and (max-width: 320px) {
    body, html {
        overflow-x: hidden;
    }

    .top h1 {
        font-size: 40px;
        line-height: 37px;
        letter-spacing: 1px;

    }

    .theme {
        top: 83%;
        font-size: 120%;
    }

    .page1 {
        left: 1vw;
    }

    .content1 {
        width: 100%;
        padding: 8% 4% 11% 9%; /* 枠と文字の空間 */
    }

    .about {
        font-size: 3em;
    }

    .br {
        display: block;
    }

    .slideContsR {
        transform: translate(-800px, 0) !important;
    }

    .cybr-btn {
        min-width: 65vw !important;
        top: 60vh !important;
        left: 0vw !important;
    }

    .youtube {
        width: 300px;
        top: 130%;
        left: 0vw;
    }

    .cybr-btn2 {
        display: none;
    }

    .microsoft {
        display: none;
    }

    .page2 {
        top: 370%;
        left: 50%;
    }


    .page2 h1 {
        font-size: 50px;
    }

    .new {
        padding-left: 7%;
        line-height: 10%;
    }

    .page2-sns {
        top: 265%;
        left: -3vw;
    }

    .page3 {
        top: 490vh;
    }

    .page3 h1 {
        font-size: 50px;
    }

    .sponsor {
        transform: translate(20%, -50%);
        top: 540%;
        position: absolute;
        width: 70%;
        margin: 0 auto;
    }

    .page4 {
        top: 650%;
        left: 1%;
        /*display: block;*/
        position: absolute;
        z-index: auto;
    }

    .content2 {
        width: 100%;
        padding: 8% 4% 11% 9%;
    }

    .content3 {
        width: 90%;
        height: 560%;
        top: 90%;
        left: 5%;
    }

    .cc {
        top: 1050vh;
        left: 50%;
        white-space: nowrap;
    }
}
