

/* スライドする要素 */
.content {
    width: 300px;
    height: 300px;
}

.content:nth-child(1) {
    background-image: url("../assets/img/spons1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

.content:nth-child(2) {
    background-image: url("../assets/img/spons2.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

.content:nth-child(3) {
    background-image: url("../assets/img/spons3.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

.content:nth-child(4) {
    background-image: url("../assets/img/spons4.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

.content:nth-child(5) {
    background-image: url("../assets/img/spons5-detail.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

.content:nth-child(6) {
    background-image: url("../assets/img/spons6-detail0.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #4D4D4D;
    opacity: 0.9;
}

/* スライドレールの枠 */
.wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 340px;
    margin-bottom: 100px;
}

/* content4つをまとめたスライドブロック */
.slideshow {
    display: flex;
    -webkit-animation: loop-slide 20s infinite linear 1s both;
    animation: loop-slide 20s infinite linear 1s both;
}

@-webkit-keyframes loop-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes loop-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* ホバー時に動きを止める（パターン2・3）*/
.slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/* ホバー時の装飾（パターン3） */
.content {
    transition: all 0.2s;
    margin-right: 20px;
}

.content:hover {
    transform: translateY(-20px);
    border-radius: 0 10%;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;
    cursor: pointer;
}
