.slideConts {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.slideContsL {
    transform: translate(-800px, 0);
}
.slideContsR {
    transform: translate(800px, 0);
}
.slideContsL.show {
    transform: translate(0em, 0) !important;
}
.slideContsR.show {
    transform: translate(50px, 0) !important;
}
